h1{
    color:#008080;
}
h2{
    color:rgb(243, 209, 41);
}
#Interesses {
    background-color: rgb(156, 246, 216);
    text-align: center;
}

h3 {
    color: rgb(120, 7, 185);
}
h4{
    color: rgb(151, 82, 216);
}
#portiforio{
    background-color: rgb(241, 223, 255);
    text-align: center;
}
h5{
    color: rgb(255, 187, 0);
}
